/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */

/* 
 html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
} */

#cursor {
  color: black;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--cursor-color);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: all 0.1s ease-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border; */
}

body,
html {
  font-family: "Proxima Nova";
  /* cursor: default; */
  margin: 0;
  background-color: #f6f4eb;
  height: 100%;
  /* scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none; */
}

#root {
  /* margin: 45px; */
  height: 100%;
  padding-top: 0.1px;
  /* overflow: auto; */
  /* padding-top: 1px; */
  /* scroll-snap-type: x mandatory; */
}
/* 
a {
  text-decoration: none;
  color: #91C8E4;
} */

a {
  color: #629fc6;
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar a,
.page a {
  position: relative;
  color: #629fc6;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.navbar a::after,
.page a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: currentColor;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover,
.page a:hover {
  color: #91c8e4;
}

.navbar a:hover::after,
.page a:hover::after {
  width: 100%;
}

.namenav {
  position: fixed;
  top: 45px;
  left: 45px;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.namenav a {
  color: #104160;
  font-family: "Alta";
  font-size: 24pt;
  font-weight: 600;
  text-transform: uppercase;
}

/* .namenav a {
  color: #3C80AC;
  font-family: "Bodoni Moda", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: lowercase;
} */

.sidenav {
  transform: rotate(90deg);
  /* margin: 10px; */
  position: fixed;
  top: 52px;
  right: -70px;

  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* padding: 0.2rem calc((100vw - 1000px) / 2); */
  z-index: 10;
  /* padding-inline-start: 40px; */
}

.sidenav li {
  padding-inline-start: 50px;
}

.sidenav a {
  color: #104160;
  font-family: "Mr Eaves Mod OT";
  font-size: 17pt;
  font-weight: 400;
  text-transform: lowercase;
}

.project {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr 2fr 1fr 1fr 2fr;
  grid-template-rows: 3fr 3fr 4fr 3fr;

  width: 60%;
  height: 60vh;

  /* border-top: 1px solid;
  border-image: linear-gradient(to left, #000 30%, transparent 0%) 100% 1;
  border-right: 1px solid;
  border-image: linear-gradient(to bottom, #000 30%, transparent 0%) 1; */
  border: 1.5px solid;
  border-image: linear-gradient(to bottom left, #ffd37b 15%, transparent 0%) 1;

  margin-top: 20vh;
  margin-bottom: 0;

  position: relative;
  z-index: 1;
}

/* .project h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #42c2dc;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
} */

/* .spinner {
  width: 140px;
  height: 140px;
  background-color: cornflowerblue;
  margin: auto;
  margin-top: 55%;
} */

.proj-title {
  font-family: "Amandine";
  font-size: 80px;
  font-weight: 600;
  color: #629fc6;
  margin: 0;
  margin-left: 12%;
  padding: 0;
  text-transform: lowercase;

  grid-column: 7 / 10;
  grid-row: 3 / 4;
  align-self: flex-end;
  /* border-top: 1px solid #000; */
  z-index: 3;
}

.proj-title:after {
  content: ".";
}

.proj-subtitle {
  font-family: "Mr Eaves Mod OT";
  font-size: 15pt;
  font-weight: 400;
  text-transform: lowercase;
  color: #000;
  /* font-size: 1.5rem;
  font-weight: 600;
  color: #42c2dc;
  margin: 0;
  padding: 0;
  text-transform: uppercase; */
  margin: 0;
  /* border-bottom: #A7ECEE 1.5px solid; */

  grid-column: 1 / 4;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: end;

  z-index: 3;
}

.proj-line {
  border-bottom: #cd798d 1.5px solid;
  padding-top: 10px;

  grid-column: 1 / 4;
  grid-row: 2 / 3;
  align-self: start;
  z-index: 3;
}

.proj-line-side {
  border-left: #cd798d 1.5px solid;
  padding-top: 10px;

  grid-column: 1 / 2;
  grid-row: 3 / 4;
  justify-self: start;
  z-index: 3;
}

.proj-index {
  font-family: "Mr Eaves Mod OT";
  font-size: 16pt;
  text-transform: lowercase;
  color: #cd798d;

  grid-column: 10 / 11;
  grid-row: 4 / 5;
  justify-self: end;
  z-index: 3;
}

.proj-img {
  /* width: 400px;
  height: 400px; */
  width: 90%;
  max-height: 75vh;
  /* width: auto;
  height: auto; */
  grid-column: 2 / 8;
  grid-row: 1 / 4;
  align-self: center;
  justify-self: center;
  z-index: 2;
  object-fit: contain;
  object-position: center;
}

.proj-img-sub {
  /* width: 400px;
  height: 400px; */
  /* width: 100%; */
  grid-column: 3 / 9;
  grid-row: 2 / 5;
  /* align-self: center; */
  z-index: 0;
  /* object-fit: cover;
  object-position: center; */
}
/* .proj-view {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
} */

/* .proj-line {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  align-self: flex-end;
  border-top: 1px solid #000;
  width: 100%;
} */
/* .parallax-line {
  transition: width 2s ease-in-out;
} */

/* body {
  scroll-snap-type: x mandatory;
}

section {
  height: 100vh;
  width: 100vw;
  
} */
.button-container {
  position: fixed;
  top: 0;
  left: 0;
  /* width: calc(100vw - 100px);
  height: calc(100vh - 100px); */
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 50px 1fr 50px;
  z-index: 0;
  /* margin: 50px; */
  width: 100vw;
  height: 100vh;
}

.button-half-page {
  border: none;
  background: transparent;
}

.button-half-page:first-child {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.button-half-page:last-child {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.button-half-page:hover {
  cursor: none;
}

.project-wrapper {
  scroll-snap-type: x mandatory;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  /* gap: 1rem; */
  /* height: calc(180px + 1rem); */
  padding: 0;
  /* max-width: 480px; */
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior-x: contain;
}

.proj-container {
  scroll-snap-align: start;
  /* height: 100vh; */
  width: 100vw;
  max-width: none;
  object-fit: contain;
  border-radius: 1rem;
}

/* .cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  cursor: none;
} */

.arrow-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  /* width: 100px;
  height: 100px; */
  font-family: "Mr Eaves Mod OT";
  font-size: 40px;
  color: #ffeebb;
  /* content: "view"; */
  /* background: url("https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvdHAyNDctZWxlbWVudC0wMDk4LWt6b3hsaGgwLnBuZw.png") no-repeat; */
  background-size: contain;
  background-position: center;
  cursor: none;
  transform: translate(-50%, -50%);
}

.proj-button {
  border: none;
  background: transparent;
  width: 60%;
  height: 60vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project .proj-title,
.project .proj-subtitle,
.project .proj-img {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.project .proj-title {
  animation-delay: 0.25s;
}

.project .proj-subtitle {
  animation-delay: 0.5s;
}

.project .proj-img {
  animation-delay: 0.75s;
}

.project .proj-img-sub {
  animation-delay: 1s;
}

/*Project Page*/
/* .page-title-container, .page-content-container {
  width: 65vw;
} */
.page p {
  font-size: 11.5pt;
  margin: 0;
}

.page-title-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr 4fr;
  column-gap: 1.5em;
  row-gap: 0.5em;
  width: 60vw;
  height: 65vh;
  overflow: auto;
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom: 5vh;
  z-index: 1;
}

.page-title {
  font-family: "Amandine";
  font-size: 80px;
  font-weight: 600;
  color: #3c80ac;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  text-transform: lowercase;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: start;
  justify-self: start;
}

.page-title::after {
  content: ".";
}

.page-subtitle {
  font-family: "Mr Eaves Mod OT";
  font-size: 16pt;
  font-weight: 400;
  text-transform: lowercase;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: start;
  margin: 0;
}

.page-category {
  font-family: "Mr Eaves Mod OT";
  font-size: 16pt;
  font-weight: 400;
  text-transform: lowercase;
  /* color: #000; */
  /* font-size: 1.5rem;
  font-weight: 600;
  color: #42c2dc;
  margin: 0;
  padding: 0;
  text-transform: uppercase; */
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  align-self: start;
  justify-self: end;
  text-align: right;
  margin: 0;
}

.page-desc {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: start;
  margin: 0;
}

.page-desc-link,
.page-desc-password {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: start;
  margin: 0;
}

.page-desc-password input {
  /* width: 100%; */
  height: 30px;
  font-size: 20px;
  background-color: #cfdee3;
  border: 0;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 10px 0 2px;
}

.page-desc-password input:hover {
  cursor: none;
}

.page-desc-password button {
  font-size: 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
  transition: all 0.3s ease;
}

.page-desc-password button:hover {
  cursor: none;
  color: #91c8e4;
}

.page-validate {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  align-self: start;
  justify-self: start;
  margin: 0;
  color: #cd798d;
}

.page-img {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 100px;
  margin: 0;
  /* height: 100vh;
  width: auto; */
  object-fit: cover;
  object-position: center;
}

.content-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 6fr;
  column-gap: 1.5em;
  row-gap: 4em;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  /* margin-left: 17.5vw; */
  width: 75vw;
}

.content-header {
  grid-column: 1 / 2;
  align-self: end;
  justify-self: start;
  margin: 0;
  font-family: "Amandine";
  font-size: 20px;
  font-weight: 600;
  color: #3c80ac;
  text-transform: lowercase;
}

.content-header::after {
  content: ".";
}

.content-body {
  grid-column: 2 / 3;
  align-self: end;
  justify-self: start;
  margin: 0;
}

.content-body ul,
.content-body ol {
  margin: 0;
  padding-left: 1em;
}

.content-body ul > li {
  padding-left: 0.5em;
  list-style: circle;
}

.content-body ol > li {
  padding-left: 0.5em;
  list-style: lower-roman;
}

/* .content-body figure, .content-body figcaption {
  margin: 0;
  padding: 0;
  display: inline-block;
} */

.content-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
}

.content-img-half {
  width: calc(50% - 10px);
  /* margin-right: 10px; */
}

.content-img-half:nth-child(even) {
  margin-right: 10px;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.content-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .content-whole {
  align-self: center;
  justify-self: center;
  margin: 0;
} */

.content-whole img {
  width: calc(100% - 100px);
  height: auto;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
  margin: 0 50px;
  position: relative;
  z-index: 1;
}

.about .page-title,
.about .page-subtitle,
.about .page-category,
.about .page-desc,
.about .page-desc-link {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.about .page-title,
.about .page-desc,
.about .page-desc-link {
  padding: 0 10px;
  margin: 0;
}
